{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<div id="Home" class="d-flex flex-column justify-content-around align-items-center">
		{{form_start(form)}}
		{{form_widget(form)}}
		<input formnovalidate class="btn btn-success" type="submit" value="Send">
		{{form_end(form)}}

		<ul id="messages">
			{% for message in messages %}
				<li>
					<p>{{message.content}}</p>
				</li>
			{% endfor %}
		</ul>

		<a href="#" onclick="event.preventDefault(); confirm('Are you sure ?') && document.getElementById('delete_all_form').submit()" class="btn btn-danger col-10 col-md-6">DELETE</a>

		<form id="delete_all_form" style="display:none;" action="{{path('app_message_reset')}}" method="post">
			<input type="hidden" name="_method" value="DELETE">
			<input type="submit" value="DELETE">
		</form>
	</div>

{% endblock %}
